---
layout: thingmonk
---
<div class="l-about row">
<a name="about"></a>
<h1 class="text-center">ThingMonk 2017<span>Developers, Data, Design: The New Industrial</span></h1>
</div>

<div class="l-speakers -cta">
    <div class="row">
      <div class="small-12 medium-12 columns text-center">
        <div class="item">
            <h2>Eclipse IoT Day Talks</h2>
        </div>
      </div>
    </div>

{% for speaker in site.data.eclipse_speakers %}
<div class="row l-talk">
    <div class="small-12 medium-4 columns">
          <div class="c-speakers">
            <div class="c-speaker__item">
              <img class="c-speaker__avatar" src="/imgs/{{speaker.photo}}" width="150" height="150" alt="{{ speaker.name }}">
              <h4 class="c-speaker__name">{{ speaker.name }}</h4>
            </div>
          </div>
    </div>
    <div class="small-12 medium-8 columns">
          <div class="c-talk">
            <a name="{{ speaker.twitter }}" /></a>
            <h2 class="c-talk__title">{{ speaker.talktitle }}</h2>
            <div class="c-talk__abstract">
              <p>{{ speaker.talkabstract | markdownify }}</p>
            </div>
            {% if speaker.video or speaker.slides %}
            <p>Presentation: 
                {% if speaker.video %}<a href="{{ speaker.video }}" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>{% endif %}
                 / 
                 {% if speaker.slides %}<a href="{{ speaker.slides }}" target="_blank"><i class="fa fa-slideshare" aria-hidden="true"></i></a>{% endif %}
            </p>
            {% endif %}
            <h3 class="c-talk-speaker__name">{{ speaker.name }} Bio</h3>
            <div class="c-talk-speaker__bio">
              <p>{{ speaker.bio }}</p>
              {% if speaker.twitter %}
              <p class="c-talk-speaker__twitter"><a href="http://twitter.com/{{ speaker.twitter }}" target="_blank">@{{ speaker.twitter }}</a></p>
              {% endif %}
            </div>
          </div>
    </div>
</div><!--row-->
{% endfor %}
