---
layout: thingmonk
---

<div id="sections" class="sections">
  <section id="thingmonk" data-magellan-target="thingmonk" class="bg--red-1"></section>
  <section id="about" data-magellan-target="about" class="bg--red-1">

    <div class="l-about row">
    <a name="about"></a>
        <h1>Developers, Data, Design: The New Industrial</h1>
        <div align="center"><h1>London, September 11th - 13th, 2017</h1></div>
        <br />
        <p><b>Eclipse Day : Protein, entry via Cream, 31 New Inn Yard, EC2A 3EY<br />
            ThingMonk Hack Day : Protein, entry via Cream, 31 New Inn Yard, EC2A 3EY<br />
            ThingMonk Main conference: Shoreditch Studios, 37 Batemans Row, EC2A 3HH</b></p>
        <p>ThingMonk is the developer conference for people making IoT platforms. Now in its fifth year, we bring together technologists and designers building core infrastructure for IoT for 2 days of awesome, unique talks on topics including bots, industrial automation/industry 4.0, machine learning, time series data, programming language choices and UX. These are talks by practitioners.</p>
        <p>We’re not cheerleaders for thoughtless automation- we’ll have skeptical, thoughtful critical talks about creating a culture and making the right design decisions so that the IoT serves us, rather than us serving it. 
        </p>
        <p>ThingMonk is about tech but it’s also a warm, supportive, welcoming and diverse community. This year we are delighted to be able to to expand on last years diversity scholarship. This years scholarship will open for applications in March.</p> 
        <p>ThingMonk 2017 will be held at two venues in Shoreditch within 150 yards of each - the Eclipse Day and ThingMonk Hack Day will be held at <a href="https://www.google.co.uk/maps/dir/%27%27/31+New+Inn+Yard,+London+EC2A+3EY/data=!4m5!4m4!1m0!1m2!1m1!1s0x48761cb096ccbad3:0x1e756378641e77fb?sa=X&ved=0ahUKEwjo95Kv84bOAhUDORoKHaxaAIsQiBMIESgBMAQ">Cream/Protein</a> and the main confererence, will be at Shoreditch Studioss</p>
        <p>ThingMonk 2017 cannot occur without the generous support of our friends in the IoT Community. If you would like to be a sponsor of the premier developer focused IoT event in London <a href="/sponsor-pack.html">click here</a>. </p>
    </div>
  </section>
  <section id="news" data-magellan-target="news" class="bg--red-2">

    <div class="l-news row -cta">
      <div class="item">
        <h2>News</h2>
        <ul class="c-news">
            {% for post in site.posts %}
            <li><a href="{{ post.url }}">{{post.title}}</a></li>
            {% endfor %}
        </ul><!--speakers-->
      </div>
    </div><!--News-->

  </section>

<div class="-cta">
        <div class="row">
          <div class="small-12 medium-12 columns text-center">
            <div class="item">
                <h2>ThingMonk Speakers</h2>
                <div class="c-speakers c-speakers__grid">
                {% for speaker in site.data.speakers %}
                {% assign mod = forloop.index | modulo: 2 %}
                {% if mod == 1 %}
                <div class="c-speaker__item">
                  <a href="thingmonk-talks.html#{{ speaker.twitter }}">
                    <img class="c-speaker__avatar" src="/imgs/{{speaker.photo}}" width="150" height="150" alt="{{ speaker.name }}"></a>
                    <h4 class="c-speaker__name">{{ speaker.name }}</h4>
                 </a>
                 <!-- <h5 class="c-speaker__talk"><a href="thingmonk-talks.html#{{ speaker.twitter }}">Talk</a></h5> -->
                </div>
                {% else %}
                <div class="c-speaker__item">
                  <a href="thingmonk-talks.html#{{ speaker.twitter }}">
                    <img class="c-speaker__avatar" src="/imgs/{{speaker.photo}}" width="150" height="150" alt="{{ speaker.name }}" >
                    <h4 class="c-speaker__name">{{ speaker.name }}</a></h4>
                    <!-- <p class="c-speaker__twitter"><a href="http://twitter.com/{{ speaker.twitter }}">@{{speaker.twitter}}</p> -->
                  </a>
                  <!-- <h5 class="c-speaker__talk"><a href="thingmonk-talks.html#{{ speaker.twitter }}">Talk</a></h5> -->
                </div>
                {% endif %}
                {% endfor %}
                </div><!--speakers-->
              </div><!--item-->
            </div><!--columns-->
        </div><!--row-->
    </div><!--speakers-->


  </section>

  <section id="buy" data-magellan-target="buy" class="bg--red-5">

    <div class="l-papers -cta">
      <div class="row">
    <div class="small-12 medium-6 columns text-center">
      <div class="item">
      <h3>Sponsorship Details</h3>
      <p class="desc">Interested in sponsoring ThingMonk? Read the details on our sponsor pack. </p>
      <p><a href="/sponsor-pack.html"><button type="button" class="btn btn-success btn-sm">Sponsor Us</button></a></p>
      <p><a href="/eclipse-sponsor-pack.html"><button type="button" class="btn btn-success btn-sm">Sponsor Eclipse Day</button></a></p>
      </div>
    </div>
    <div class="small-12 medium-6 columns text-center">
      <div class="item">
      <h3>Attend</h3>
      <p class="desc">Tickets for ThingMonk and the Eclipse IoT Day 0 are now on sale.</p>
      <p><a href="https://www.eventbrite.co.uk/e/thingmonk-2017-tickets-31876851521"><button type="button" class="btn btn-success btn-sm">Buy Tickets</button></a></p>
      </div>
    </div><!--columns-->
  </div><!--row-->
  </div><!--papers-->

  </section>

  <section id="coc" data-magellan-target="coc"  class="bg--red-6">
    <div class="-cta row">
      <div class="item">
      <div class="item-content">
      <h2>Code of Conduct</h2>
      <p>tl;dr: Be excellent with each other</p>
      <p>All attendees, speakers, sponsors and volunteers at our conference are required to agree with the following code of conduct. Organisers will enforce this code throughout the event. We are expecting cooperation from all participants to help ensuring a safe environment for everybody.</p>
      <p><a href="coc.html" class="btn">Read more</a></p>
      </div>
      </div>
    </div>
  </section>

</div>
