---
layout: thingmonk
---
<div class="l-about row">
<a name="about"></a>
<h1 class="text-center">ThingMonk 2016<span>Developers, Data, Design: The New Industrial</span></h1>
    <p>ThingMonk is the developer conference for people building the internet of things. We bring together the technologists building the core infrastructure for IoT for 2 days of awesome, unique talks.</p>
    <p>We're about the makers, people turning ideas and concepts into systems, platforms and communities.</p>
    <p>This year we're also featuring an extra "Day 0" event, including a half day conference within a conference dedicated to the Eclipse Foundation's IoT ecosystem, and back by popular demand, a half day into evening hackday with Coding by Candlelight.</p>
    <p>ThingMonk 2016 will be held in the heart of Shoreditch at Shoreditch Studios, 37 Batemans Row, EC2A 3HH</p>
</div>

<div class="l-speakers -cta">
    <div class="row">
      <div class="small-12 medium-12 columns text-center">
        <div class="item">
            <h3>ThingMonk Speakers</h3>
            <div class="c-speakers c-speakers__grid">
            {% for speaker in site.data.speakers %}
            {% assign mod = forloop.index | modulo: 2 %}
            {% if mod == 1 %}
            <div class="c-speaker__item">
              <a href="thingmonk-talks.html#{{ speaker.twitter }}">
                <img class="c-speaker__avatar" src="/imgs/{{speaker.photo}}" width="150" height="150" alt="{{ speaker.name }}"></a>
                <h4 class="c-speaker__name">{{ speaker.name }}</h4>
             </a>
             <!-- <h5 class="c-speaker__talk"><a href="thingmonk-talks.html#{{ speaker.twitter }}">Talk</a></h5> -->
            </div>
            {% else %}
            <div class="c-speaker__item">
              <a href="thingmonk-talks.html#{{ speaker.twitter }}">
                <img class="c-speaker__avatar" src="/imgs/{{speaker.photo}}" width="150" height="150" alt="{{ speaker.name }}" >
                <h4 class="c-speaker__name">{{ speaker.name }}</a></h4>
              </a>
              <!-- <h5 class="c-speaker__talk"><a href="thingmonk-talks.html#{{ speaker.twitter }}">Talk</a></h5> -->
            </div>
            {% endif %}
            {% endfor %}
            </div><!--speakers-->
          </div><!--item-->
        </div><!--columns-->
    </div><!--row-->
</div><!--speakers-->

  <div class="l-news -cta">
    <div class="row">
      <div class="small-12 medium-6 columns text-center">
          <div class="item">
            <h3>Eclipse Day Speakers</h3>
            <div class="c-speakers c-speakers__grid--small">
            {% for speaker in site.data.eclipse_speakers %}
              <div class="c-speaker__item">
                <a href="eclipse-day-talks.html#{{ speaker.twitter }}">
                  <img class="c-speaker__avatar" src="/imgs/{{speaker.photo}}" width="150" height="150" alt="{{ speaker.name }}" >
                  <h4 class="c-speaker__name"><a href="http://twitter.com/{{ speaker.twitter }}">{{speaker.name}}</h4>
                </a>
              </div>
            {% endfor %}
            </div><!--speakers-->
          </div><!--item-->
          </div><!--columns-->
          <div class="small-12 medium-6 columns text-center">
              <div class="item">
              <h3>News</h3>
              <ul class="c-news">
                  {% for post in site.posts %}
                  <li><a href="{{ post.url }}">{{post.title}}</a></li>
                  {% endfor %}
              </ul><!--speakers-->
          </div><!--item-->
          </div><!--columns-->
    </div><!--row-->
  </div><!--speakers-->

  <div class="l-papers -cta">
    <div class="row">
  <div class="small-12 medium-4 columns text-center">
    <div class="item">
    <h3>Call For Papers</h3>
    <p class="desc">We are now accepting proposals for ThingMonk 2016.</p>
    <p><a href="http://goo.gl/forms/r6K5tYsyZi"><button type="button" class="btn btn-success btn-sm">Submit a Paper</button></a></p>
    </div>
  </div>
  <div class="small-12 medium-4 columns text-center">
    <div class="item">
    <h3>Sponsorship Details</h3>
    <p class="desc">Interested in sponsoring ThingMonk? Read the details on our sponsor pack. </p>
    <p><a href="/sponsor-pack.html"><button type="button" class="btn btn-success btn-sm">Sponsor Us</button></a></p>
    </div>
  </div>
  <div class="small-12 medium-4 columns text-center">
    <div class="item">
    <h3>Attend</h3>
    <p class="desc">Tickets for ThingMonk, the Eclipse IoT Day and both events are now on sale</p>
    <p><a href="https://www.eventbrite.co.uk/e/thingmonk-2016-tickets-24733051222"><button type="button" class="btn btn-success btn-sm">Buy Tickets</button></a></p>
    </div>
  </div><!--columns-->
</div><!--row-->
</div><!--papers-->
