//////////////////////////////
// LAYOUT & GRID STYLES
//////////////////////////////


.row {
	max-width:$global-width;
}

.row-wide {
	max-width:100%;
}

.sticky {
	position: relative;
	@media #{$large-up} {
		position: relative;
	}
}

.c-nav {
	width:100%;
	background-color:mix(black, $rm-red, 60%);
	.row {
		 max-width: 100%;
		 @media #{$xlarge-up} {
	 		max-width:70%;
	 	}
	}
	ul {
	  width: 80%;
		margin:0 auto;
		text-align: center;
		li {
			display: inline-block;
			a {
				color:mix(white, $rm-red, 40%);
				&.active, &:hover {
					color:$white;
				}
			}
			&.c-nav__highlight {
				a {
					color:$white;
				}
				span {
					font-weight: bold;
				}
			}
		}

	}
}

.rm-container {
		margin:0;
		@media #{$medium-up} {
			max-width:100%;
			margin:0;
		}
		@media #{$large-up} {
			margin:-40px 0 0;
		}
}

.l-about {
	// background-color: $white;
	padding:$margin;
	@media #{$large-up} {
		padding:($margin * 3) 0 $margin;
		overflow:hidden;
	}
}

.l-block {
	// background-color:#ffffff;
	padding:2rem;
	h2, h3 {
		width:100%;
	}
}
.l-speakers {
	background-color:#4C0805;
	h2 {
		color:$white;
	}
}
.l-eclipse {
	// background-color:lighten(#cccccc, 10%);
}
.l-papers {
	// background-color:lighten(#cccccc, 20%);
}

.rm-masthead {
	max-width:100%;
	z-index: 1;
	position: relative;
	background-image: url('../images/header-bg.jpg');
	background-size: cover;
	min-height: 200px;
	text-align: center;
	padding-bottom:2rem;
	@media #{$large-up} {
		min-height: 600px;
	}
	.logo {
		margin:0 auto;
		width:220px;
		@media #{$large-up} {
			width:400px;
		}
		height:auto;
		display: block;
	}
	.btn {
		margin-top:10px;
		background-color: #4C0805;
		color: $white;
		border-color: #4C0805;
		font-size: rem-calc(16);
		@media #{$large-up} {
			font-size: rem-calc(18);
		}
		font-weight: bold;
		padding:1rem 2rem;
		&:hover {
			background-color: darken(#4C0805, 15%);
		}
	}
}

.rm-footer {
	text-align: center;
	padding:$margin 0;
	clear: both;
	background-color: #4C0805;
	@media #{$large-up} {
		padding:($margin * 3) 0;
	}
	p {
		font-size: rem-calc(12);
		color:$white;
		margin:0;
		a {
			color:$white;
		}
	}
}


.c-news {
	margin: 0 auto;
	text-align: center;
	li {
		list-style-type: none;
		border-bottom:1px solid lighten(#cccccc, 5%);
		padding:0.5rem 0;
	}
}

.primary {
	padding:0;
	@media #{$large-up} {
		padding:($margin * 2) 0 0;
	}
	z-index: 2;
	position: relative;
	overflow: hidden;
}

.-cta {
	padding:$margin;
	@media #{$large-up} {
		padding:($margin * 4) 0;
	}
	// @media #{$medium-up} {
	// 	margin:($margin * 2) 0;
	// }
	.item {
		// background-color: $rm-light-grey;
		padding-bottom:10px;
		overflow: hidden;
		text-align: left;
		width: 100%;
		h2 {
			text-align: center;
			margin-bottom:2rem;
			text-transform: uppercase;
		}
		h3 {
			// background-color:lighten($rm-red, 30%);
			// background-color: $rm-red;
			// padding:10px;
			// color:$white;
			// text-transform: uppercase;
			font-size: rem-calc(20);
			@media #{$large-up} {
				display: inline-block;
				// padding:15px 35px;
				// float:left;
			}
		}
		h4 {
			margin-bottom:1em;
		}
		.desc {
			clear:both;
			// text-align: left;
		}
		.btn {
			border-width:2px;
		}
		.item-content {
			text-align: left;
			// max-width: 40rem;
			h2 {
				text-align: left;
			}
		}
	}
}

.c-speakers {
	overflow: hidden;
	clear: both;
	text-align: center;
	.c-speaker__item {
		// width:40%;
		display:inline-block;
	}
	.c-speaker__avatar {
		display: block;
		width: 100px;
		height: 100px;
		@media #{$medium-up} {
			width: 140px;
			height: 140px;
		}
		@media #{$large-up} {
			width: 180px;
			height: 180px;
		}
		border-radius: 50%;
		margin: 0 auto 0.5em;
		border: 6px solid #f7f6f1;
		box-sizing: content-box;
		&:hover {
			border: 6px solid mix(black, $rm-red, 80%);
		}
	}
	.c-speaker__name {
		color:$rm-dark-grey;
		font-weight: bold;
		font-size: 15px;
		@media #{$medium-up} {
			font-size: 18px;
		}
		margin:5px 0 10px;
		a {
			color:$rm-dark-grey;
		}
	}
	.c-speaker__twitter {
		font-size: 12px;
		margin:0;
	}
	.c-speaker__talk {
		font-size: 12px;
	}
}

.c-speakers__grid {
	.c-speaker__item {
		float:left;
		width:40%;
		margin: 0 5% 1rem;
		min-height:180px;
		@media #{$medium-up} {
			width:23%;
			margin:0 5% 1rem;
			min-height:230px;
		}
		@media #{$large-up} {
			min-height:275px;
			width:18%;
			margin:0 3% 1rem;
		}
	}
}

.c-speakers__grid--small {
	.c-speaker__item {
		float:left;
		width:23%;
		// min-height:180px;
		margin: 0 5% 1rem;
		@media #{$small-only} {
			min-height:180px;
		}
		.c-speaker__avatar {
			width: 140px;
			height:auto;
			@media #{$medium-up} {
				height: 140px;
			}


		}
	}
}

.c-sessions {
	border-bottom:1px solid $white;
	.c-sessions__single {
		border-bottom:1px solid rgba($white, 0.4);
		&.is-start {
			time {
				font-weight: bold;
				font-size:120%;
			}
		}
		time {
			display: inline-block;
			width: 25%;
			color:$white;
			vertical-align: top;
		}
		.session-description {
			display: inline-block;
			width: 65%;
			padding-left: 0;
			color:white;
			a {
				text-decoration: underline;
				&:hover {
					text-decoration: none;
				}
			}

		}
	}
}


//Talks
.l-talk {
	padding:2rem;
	background-color: $white;
	margin-bottom:.1rem;
}

.c-talk {

	.c-talk__title {
		color:$rm-red;
	}
	.c-talk__abstract {

	}
	.c-talk-speaker__name {
		border-top:1px solid #cccccc;
		color:$rm-grey;
		font-size: 16px;
		padding-top:1rem;
		margin-top:2rem;
		margin-bottom:0.5rem;
	}
	.c-talk-speaker__bio {
		font-style: italic;
		font-size: 14px;
		p {
			font-style: italic;
			font-size: 14px;
		}
	}
}

//Sponsers
.l-sponsors {
	h4 {
		font-size: rem-calc(20);
		color:darken($rm-red, 30%);
		text-transform: uppercase;
		@media #{$large-up} {
			font-size: rem-calc(22);
			margin-top:2rem;
		}
		&:after {
			content:"";
			background-color:darken($rm-red, 30%);
			height:5px;
			display: block;
			max-width: 60%;
			margin:12px 20% 0 20%;
		}
	}
	.l-sponsors__sponsor {
			text-align: center;
			margin-bottom:2rem;
	}
	.l-sponsors__logo {
		max-width: 150px;
		margin:0 auto;
		display: inline-block;
		&.l-sponsors__logo-big {
			max-width: 300px;
		}
	}
}


/**
* 7.0 - Accessibility
*/

/* Text meant only for screen readers */
.says,
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	/* many screen reader and browser combinations announce broken words as they would appear visually */
	word-wrap: normal !important;
}

/* must have higher specificity than alternative color schemes inline styles */
.rm-wrapper .skip-link {
	background-color: #f1f1f1;
	box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
	color: #21759b;
	display: block;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
	font-size: 14px;
	font-weight: 700;
	left: -9999em;
	outline: none;
	padding: 15px 23px 14px;
	text-decoration: none;
	text-transform: none;
	top: -9999em;
}

.logged-in .rm-wrapper .skip-link {
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
	font-family: "Open Sans", sans-serif;
}

.rm-wrapper .skip-link:focus {
	clip: auto;
	height: auto;
	left: 6px;
	top: 7px;
	width: auto;
	z-index: 100000;
}

/**
* Utility classes
*/

.-content-padding {
	padding-left:.9375rem;
	padding-right:.9375rem;
}

.-border-bottom {
	border-bottom:1px solid $rm-border;
}

.-border-top {
	border-top:1px solid $rm-border;
}

.-border-left {
	@media #{$medium-up} {
		border-left:1px solid $rm-border;
	}
}

.-border-right {
	@media #{$medium-up} {
		border-right:1px solid $rm-border;
	}
}

.-margin-bottom {
	margin-bottom:$margin;
}

.-margin-top {
	margin-top:$margin;
}

.-padding-bottom {
	padding-bottom:$margin;
}

.-padding-top {
	padding-top:$margin;
}

.text-center {
	text-align: center !important;
	width: 100%;
}

//Pagination
.pagination {
	margin:0 auto;
	a {
		display: inline-block;
	}
	.current {
		background-color:$rm-red;
	}
}
//Accessibility
.show-on-focus {
    position: absolute;
    top: -1000em;
}
.show-on-focus:focus {
  left:6px;
  top:7px;
  height:auto;
  width:auto;
	display: inline-block;
  font-size:14px;
  font-weight:700;
  padding:15px 23px 14px;
  background:#f1f1f1;
  color:#0073aa;
  z-index:100000;
  line-height:normal;
  text-decoration:none;
  -webkit-box-shadow:0 0 2px 2px rgba(0,0,0,.6);
  box-shadow:0 0 2px 2px rgba(0,0,0,.6)
}


// #A0090F
// #6D0D11
// #6D2E30
// #4C0805
// #600F0C
// #5E1914
// #920C09


$themes: (
    "red-1": #A0090F,
		"red-2": #6D0D11,
		"red-3": #6D2E30,
		"red-4": #A0090F,
		"red-5": #4C0805,
		"red-6": #5E1914,
		"red-7": #920C09,
);

@each $theme, $color in $themes {
    .bg--#{$theme}  {
			background-color: $color !important;

		}
}

[class^="bg--red-"] {
			h1, h2, h3, h4, h5, h6, p, p > a, ul li, a  {
				color:$white !important;
			}
			.btn {
				color:$white !important;
				border-color:$white !important;
			}
}
