//////////////////////////////
// LAYOUT & GRID STYLES
//////////////////////////////


.row {
	max-width:$global-width;
}

.row-wide {
	max-width:100%;
}


.rm-container {
		margin:$margin 0;
		@media #{$medium-up} {
			max-width:100%;
			margin:-40px 0 0;
		}
		@media #{$large-up} {
			margin:-80px 0 0;
		}
}

.l-about {
	background-color: $white;
	padding:$margin;
	@media #{$large-up} {
		padding:($margin * 2) 0 $margin;
	}
}

.l-speakers {
	background-color:#cccccc;
}
.l-news {
	background-color:lighten(#cccccc, 10%);
}
.l-papers {
	background-color:lighten(#cccccc, 20%);
}

.rm-masthead {
	max-width:100%;
	z-index: 1;
	position: relative;
}

.rm-footer {
	text-align: center;
	p {
		font-size: rem-calc(12);
		color:$rm-mid-grey;
	}
}


.c-news {
	// margin-left:2rem;
	li {
		list-style-type: none;
		border-bottom:1px solid lighten(#cccccc, 5%);
		padding:0.5rem 0;
	}
}

.primary {
	// padding:$margin 0;
	@media #{$large-up} {
		padding:($margin * 2) 0;
	}
	z-index: 2;
	position: relative;
	overflow: hidden;
}

.-cta {
	padding:0 0 ($margin * 2);
	// @media #{$medium-up} {
	// 	margin:($margin * 2) 0;
	// }
	.item {
		// background-color: $rm-light-grey;
		padding-bottom:10px;
		overflow: hidden;
		text-align: left;
		h3 {
			// background-color:lighten($rm-red, 30%);
			background-color: $rm-red;
			padding:10px;
			color:$white;
			// text-transform: uppercase;
			font-size: rem-calc(20);
			@media #{$large-up} {
				display: inline-block;
				padding:15px 35px;
				// float:left;
			}
		}
		.desc {
			clear:both;
			// text-align: left;
		}
		.btn {
			border-width:2px;
		}
	}
}

.c-speakers {
	overflow: hidden;
	clear: both;
	text-align: center;
	.c-speaker__item {
		// width:40%;
		display:inline-block;
	}
	.c-speaker__avatar {
		display: block;
		width: 120px;
		height: 120px;
		border-radius: 50%;
		margin: 0 auto 0.5em;
		border: 6px solid #f7f6f1;
		box-sizing: content-box;
		&:hover {
			border: 6px solid $rm-red;
		}
	}
	.c-speaker__name {
		color:$rm-dark-grey;
		font-weight: bold;
		font-size: 14px;
		a {
			color:$rm-dark-grey;
		}
	}
	.c-speaker__talk {
		font-size: 12px;
	}
}

.c-speakers__grid {
	.c-speaker__item {
		width:40%;
		margin-bottom:2rem;
		@media #{$medium-up} {
			width:30%;
		}
		@media #{$large-up} {
			width:20%;
		}
	}
}

.c-speakers__grid--small {
	.c-speaker__item {
		width:20%;
		margin-bottom:2rem;
		@media #{$large-up} {
			width:40%;
		}
	}
}


//Talks
.l-talk {
	padding:2rem;
	background-color: $white;
	margin-bottom:.1rem;
}

.c-talk {

	.c-talk__title {
		color:$rm-red;
	}
	.c-talk__abstract {

	}
	.c-talk-speaker__name {
		border-top:1px solid #cccccc;
		color:$rm-grey;
		font-size: 16px;
		padding-top:1rem;
		margin-top:2rem;
		margin-bottom:0.5rem;
	}
	.c-talk-speaker__bio {
		font-style: italic;
		font-size: 14px;
		p {
			font-style: italic;
			font-size: 14px;
		}
	}
}


/**
* 7.0 - Accessibility
*/

/* Text meant only for screen readers */
.says,
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	/* many screen reader and browser combinations announce broken words as they would appear visually */
	word-wrap: normal !important;
}

/* must have higher specificity than alternative color schemes inline styles */
.rm-wrapper .skip-link {
	background-color: #f1f1f1;
	box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
	color: #21759b;
	display: block;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
	font-size: 14px;
	font-weight: 700;
	left: -9999em;
	outline: none;
	padding: 15px 23px 14px;
	text-decoration: none;
	text-transform: none;
	top: -9999em;
}

.logged-in .rm-wrapper .skip-link {
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
	font-family: "Open Sans", sans-serif;
}

.rm-wrapper .skip-link:focus {
	clip: auto;
	height: auto;
	left: 6px;
	top: 7px;
	width: auto;
	z-index: 100000;
}

/**
* Utility classes
*/

.-content-padding {
	padding-left:.9375rem;
	padding-right:.9375rem;
}

.-border-bottom {
	border-bottom:1px solid $rm-border;
}

.-border-top {
	border-top:1px solid $rm-border;
}

.-border-left {
	@media #{$medium-up} {
		border-left:1px solid $rm-border;
	}
}

.-border-right {
	@media #{$medium-up} {
		border-right:1px solid $rm-border;
	}
}

.-margin-bottom {
	margin-bottom:$margin;
}

.-margin-top {
	margin-top:$margin;
}

.-padding-bottom {
	padding-bottom:$margin;
}

.-padding-top {
	padding-top:$margin;
}

//Pagination
.pagination {
	margin:0 auto;
	a {
		display: inline-block;
	}
	.current {
		background-color:$rm-red;
	}
}

//Accessibility
.show-on-focus {
    position: absolute;
    top: -1000em;
}
.show-on-focus:focus {
  left:6px;
  top:7px;
  height:auto;
  width:auto;
	display: inline-block;
  font-size:14px;
  font-weight:700;
  padding:15px 23px 14px;
  background:#f1f1f1;
  color:#0073aa;
  z-index:100000;
  line-height:normal;
  text-decoration:none;
  -webkit-box-shadow:0 0 2px 2px rgba(0,0,0,.6);
  box-shadow:0 0 2px 2px rgba(0,0,0,.6)
}
