<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>ThingMonk - Developers, Data, Design: The New Industrial</title>

<script src="https://use.typekit.net/lxp6wau.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>

<link href="https://opensource.keycdn.com/fontawesome/4.6.3/font-awesome.min.css" rel="stylesheet">

<link rel="stylesheet" href="/app/css/app.css" />

<meta itemprop="url" content="https://thingmonk.github.io/">
<meta property="og:site_name" content="ThingMonk">
<meta property="og:title" content="ThingMonk - Developers, Data, Design: The New Industrial">
<meta property="og:description" content="ThingMonk is the developer conference for people building the internet of things. We bring together the technologists building the core infrastructure for IoT for 2 days of awesome, unique talks.">
<meta property="og:image" content="https://thingmonk.github.io/dist/images/thingmonk-2016.png">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div class="rm-wrapper">
<p class="show-for-sr"><a class="show-on-focus" href="#mainContent">Skip to Content</a></p>
<header class="banner" role="banner">
  <div class="rm-masthead row align-middle">
    <div class="column small-12">
      <a href="/"><img class="logo" src="/dist/images/logo.png" width="100%" /></a>
      <a class="btn" href="https://www.eventbrite.co.uk/e/thingmonk-2016-tickets-24733051222">Buy Tickets</a>
    </div>
  </div>
</header>
<div class="wrap rm-container" role="document">
