//////////////////////////////
// TYPOGRAPHY
//////////////////////////////
body {
    font-family: $allumi;
    font-size: rem-calc(16);
    font-weight: 400;
    line-height: 1.5;
    color: $text-color;
    text-align:left;
}


/*********************
LINK STYLES
*********************/

a {
    color: $link-color;
    text-decoration:none;
    /* on hover */
    &:hover, &:focus  {
        color: $link-hover;
    }

    /* on click */
    &:active {
        color: $link-hover;
    }

    &:visited {

    }

    /* mobile tap color */
    &:link {
        /*
        this highlights links on iPhones/iPads.
        so it basically works like the :hover selector
        for mobile devices.
        */
        -webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
    }
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

/******************************************************************
01. H1, H2, H3, H4, H5 STYLES
******************************************************************/
h1, h2, h3, h4, h5, h6 {
    font-family: $allumi;
    font-weight: 600;
    color:$rm-dark-grey;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    margin:0;
    line-height: 1em;
    /*
    if you're going to use webfonts, be sure to check your weights
    http://css-tricks.com/watch-your-font-weight/
    */
    /* removing text decoration from all headline links */
    a {
        text-decoration: none;
    }
}


%title,
h1 {
    margin:0 0 $margin;
    font-size: rem-calc(30);
    @media #{$large-up} {
        font-size: rem-calc(40);
        margin:0 0 ($margin * 1.5);
    }
    line-height: 34px;
    text-transform: uppercase;
    span {
        display:block;
        font-size: rem-calc(28);
        @media #{$large-up} {
            margin-top:10px;
            font-size: rem-calc(34);
            font-weight: 200;
        }
    }
}

h2 {
    margin:0 0 $margin;
    font-size: rem-calc(26);
}

h3 {
    margin:0 0 $margin;
    font-size: rem-calc(22);
}

h4 {
    font-size: rem-calc(16);
    line-height: 1;
}

h5 {
    font-size: rem-calc(12);
    line-height: 1.5;
}

h6 {
    font-size: rem-calc(10);
    line-height: 1;
}


//Typpgraphy overide

/* Global typogpraphy */
p, td, label {
    font-size: rem-calc(16);
    line-height: 18px;
    margin:0 0 $module-spacing 0;
    font-weight: normal;
}

//Serif for articles
.block-article {
    .entry-content {
        p, td, label, ul > li {
            font-family: $serif;
        }
    }
}

// time {
//     font-size: rem-calc(14);
//     font-weight: normal;
// }

strong, b {
    font-weight:600;
}

ul, ol, table, dl {}

ul, ol {
    @extend %unstyled-list;
    margin-bottom:$margin;
    .entry-content & {
        margin-left:$margin;
        list-style-type: disc;
        margin:0 0 $margin $margin;
    }
    li {
        font-size: rem-calc(16);
        line-height: 1.5em;
    }
}

blockquote {
    border-left:0;
    color:$rm-red;
    margin-left:$margin;
    p {
        color:$rm-red;
    }
    &:before {}

}
dl {}

dt {
    font-size: rem-calc(16);
}

dd {
    margin-left: 0;
    font-size: rem-calc(16);
    color: $rm-grey;
    margin-bottom: $module-spacing;
    line-height: 1.25em;
}

hr {
    background-color:$rm-lightest-grey;
    height:1px;
    border:0;
    margin-bottom:$margin;
    clear:both;
}
